.search-field {
  background-color: rgb(200, 235, 241);
}

.search-container {
  display: flex;
  height: 12vh;
  align-items: center;
}

.searchInputs {
  display: flex;
  background-color: rgb(250, 248, 248);
  border-radius: 5px;
  padding: 0 15px;
}

.search input {
  border: none;
  height: 40px;
  width: 500px;
}

.cart {
  margin-right: 10px;
}
