.electronics {
  background-image: url("../../../Images/electronics.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  min-height: 450px;
}

/* .electronics img {
  height: 550px;
} */
